*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightgray;
}
section{
    display: flex;
}
section h5 { 
    line-height: 3rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.2rem 0.5rem;
    padding: 0.2rem 1rem;
}