*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: lightgray;
}
section.gallery-container{
    width: 100%;
    max-width: 87%;
    margin: 0rem auto;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.1rem;
    height: calc(100vh - 69px);
    gap: 1.1rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, auto) );
    grid-template-rows: repeat(3,calc(33.3% - 11.7px));
    grid-template-areas: 'img1 img3 img6 img7 img10'
                         'img1 img2 img6 img8 img10' 
                         'img4 img2 img5 img9 img11';
}
div.img-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 0.3rem;
    transition: 300ms;
}
div.img-container:hover{
    transform: scale(1.05);
    box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.3);
}
div#img1{
    grid-area: img1;
}
div#img2{
    grid-area: img2;
}
div#img3{
    grid-area: img3;
}
div#img4{
    grid-area: img4;
}
div#img5{
    grid-area: img5;
}
div#img6{
    grid-area: img6;
}
div#img7{
    grid-area: img7;
}
div#img8{
    grid-area: img8;
}
div#img9{
    grid-area: img9;
}
div#img10{
    grid-area: img10;
}
div#img11{
    grid-area: img11;
}
section.gallery-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.2rem;  
}
h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 1rem auto;
    text-align: center;
}
section.img-preview{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2.5rem 12rem;
    display: none;
    z-index: 999;
}
#img-max{
    /* max-height: 100%; 
    max-width: 100%; */
    /* object-fit: contain; */
}
section.active{
    display: flex;
    align-items: center;
    justify-content: center;
}
i#close{
    position: absolute;
    top: 0rem;
    padding: 0.5rem;
    font-size: 2rem;
    right: 10rem;
    z-index: 1000;
}
.prev-img-container{
    height: 100%;
    width: 100%;
}